.bg-red
	background-color #c00

.bg-green
	background-color #060

.bg-yellow
	background-color #ff0

.bg-black
	background-color #000

.bg-white
	background-color #fff

.bg-grey
	background-color #888

.bg-blue
	background-color #08c

.bg-highlight
	background-color #f1f2c2