.btn
	display inline-block
	padding .5em 1.6em .55em
	margin-bottom 0
	font-weight normal
	line-height 1.428571429
	text-align center
	white-space nowrap
	vertical-align middle
	border 1px solid transparent
	border-radius 4px
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	-o-user-select none
	user-select none
	&:focus
		outline thin dotted #333
		outline 5px auto -webkit-focus-ring-color
		outline-offset -2px
.btn-radius
	border-radius 10em
.btn-a
	color #333333
	background-color #ffffff
	border-color #cccccc

.btn-a:hover, .btn-a:focus, .btn-a:active
	color #333333
	background-color #ebebeb
	border-color #adadad

.btn-b
	color #ffffff
	background-color #67a933
	border-color #64a933

.btn-b:hover, .btn-b:focus, .btn-b:active
	color #ffffff
	background-color #539120

.btn-c
	color #ffffff
	background-color #f0ad4e
	border-color #eea236

.btn-c:hover, .btn-c:focus, .btn-c:active
	color #ffffff
	background-color #ed9c28
	border-color #d58512

.btn-d
	color #ffffff
	background-color #cb0500
	border-color #d43f3a

.btn-d:hover, .btn-d:focus, .btn-d:active
	color #ffffff
	background-color #a20601
	border-color #ac2925

.btn-e
	color #ffffff
	background-color #5cb85c
	border-color #4cae4c

.btn-e:hover, .btn-e:focus, .btn-e:active
	color #ffffff
	background-color #47a447
	border-color #398439

.btn-f
	color #ffffff
	background-color #5bc0de
	border-color #46b8da

.btn-f:hover, .btn-f:focus, .btn-f:active
	color #ffffff
	background-color #39b3d7
	border-color #269abc
.btn-g
	color #ffffff
	background-color #fff
	border-color #ddd

.btn-g:hover, .btn-g:focus, .btn-g:active
	color #ffffff
	background-color #eee



