.font27
	font-size 27px
.font26
	font-size 26px
.font25
	font-size 25px
.font24
	font-size 24px
.font23
	font-size 23px
	
.font22
	font-size 22px

.font20
	font-size 20px

.font18
	font-size 18px

.font16
	font-size 16px

.font14
	font-size 14px
	
.font13
	font-size 13px
	
.font12
	font-size 12px
