.social
	width 40px
	display inline-block
	vertical-align middle
	padding 10px 10px 0 0
	cursor pointer
	&:hover
		a
			border 1px solid #08c
	a
		font bold 30px/1 Tahoma, sans-serif
		display block
		width 32px
		height 32px
		overflow hidden
		border 1px solid transparent
		line-height 32px
		text-decoration none
		text-shadow 0 -1px 0 rgba(0, 0, 0, 0.5)
		-moz-border-radius 5px
		-webkit-border-radius 5px
		border-radius 5px
		position relative
	&.twitter
		a
			position relative
			border-color #a8eaec
			text-transform lowercase
			text-indent 10px
			letter-spacing 15px
			font bold 30px/1 Tahoma, sans-serif
			line-height 30px
			color #76DDF8
			background #daf6f7
			text-shadow 3px 3px 1px #fff, -3px -3px 1px #fff, 3px -3px 1px #fff, -3px 3px 1px #fff
			-moz-box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
			-webkit-box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
			box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
			background -webkit-gradient(linear, left top, left bottom, from(#dbf7f8), to(#88e1e6))
			background -moz-linear-gradient(top, #dbf7f8, #88e1e6)
	&.rss
		a
			width 29px
			height 30px
			padding 0 2px
			border-color #999
			border-width 0
			text-transform lowercase
			text-indent -9999em
			font-size 0px
			font-family Arial, Helvetica, sans-serif
			font-weight bold
			color #fff
			text-shadow none
			background transparent
			&:before
				content "\00a0"
				position absolute
				bottom 5px
				left 5px
				width 6px
				height 6px
				background #999
				-moz-border-radius 6px
				-webkit-border-radius 6px
				border-radius 6px
			&:after
				content "\00a0"
				position absolute
				bottom 5px
				left 5px
				width 11px
				height 11px
				border-style double
				border-width 10px 10px 0 0
				border-color #999
				-moz-border-radius 0 50px 0 0
				-webkit-border-top-right-radius 50px
				border-radius 0 50px 0 0
	&.addthis
		a
			position relative
			border-color #0c5f0c
			text-align center
			text-indent -9000px
			font-size 32px
			font-weight bold
			color #fff
			background #138210
			-moz-box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
			-webkit-box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
			box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
			background -webkit-gradient(linear, left top, left bottom, from(#68db21), to(#138210))
			background -moz-linear-gradient(top, #68db21, #138210)
			&:after
				content "+"
				position absolute
				left 0
				top 0
				width 32px
				text-indent 0
				text-align center
				font-size 32px
				color #fff

.shareto
	float left
	line-height 58px
	font-weight bold
	font-size 16px
	margin-right 25px

.social.rss a:hover, .social.rss a:focus, .social.rss a:active
	border-radius 0
	border-bottom-width 2px
	color #08c

.social.weibo a,
.social.facebook a
	position relative
	border-color #3c5a98
	text-transform lowercase
	font-family Arial, Helvetica, sans-serif
	text-indent 17px
	letter-spacing 10px
	font-weight bold
	font-size 32px
	line-height 32px
	color #fff
	background #3c5a98
	-moz-box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
	-webkit-box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
	box-shadow 0 0 4px rgba(0, 0, 0, 0.4)

.social a:hover, .social a:focus, .social a:active
	border-color #08c

.social
	width 40px
	display inline-block
	vertical-align middle
	padding 10px 10px 0 0
	cursor pointer
	&:hover
		a
			border 1px solid #08c
	a
		font bold 30px/1 Tahoma, sans-serif
		display block
		width 32px
		height 32px
		overflow hidden
		border 1px solid transparent
		line-height 32px
		text-decoration none
		text-shadow 0 -1px 0 rgba(0, 0, 0, 0.5)
		-moz-border-radius 5px
		-webkit-border-radius 5px
		border-radius 5px
		position relative
	&.twitter
		a
			position relative
			border-color #a8eaec
			text-transform lowercase
			text-indent 10px
			letter-spacing 15px
			font bold 30px/1 Tahoma, sans-serif
			line-height 30px
			color #76DDF8
			background #daf6f7
			text-shadow 3px 3px 1px #fff, -3px -3px 1px #fff, 3px -3px 1px #fff, -3px 3px 1px #fff
			-moz-box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
			-webkit-box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
			box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
			background -webkit-gradient(linear, left top, left bottom, from(#dbf7f8), to(#88e1e6))
			background -moz-linear-gradient(top, #dbf7f8, #88e1e6)
	&.rss
		a
			width 29px
			height 30px
			padding 0 2px
			border-color #999
			border-width 0
			text-transform lowercase
			text-indent -9999em
			font-size 0px
			font-family Arial, Helvetica, sans-serif
			font-weight bold
			color #fff
			text-shadow none
			background transparent
			&:before
				content "\00a0"
				position absolute
				bottom 5px
				left 5px
				width 6px
				height 6px
				background #999
				-moz-border-radius 6px
				-webkit-border-radius 6px
				border-radius 6px
			&:after
				content "\00a0"
				position absolute
				bottom 5px
				left 5px
				width 11px
				height 11px
				border-style double
				border-width 10px 10px 0 0
				border-color #999
				-moz-border-radius 0 50px 0 0
				-webkit-border-top-right-radius 50px
				border-radius 0 50px 0 0
	&.weibo
		a
			text-align center
			text-indent 0
			font-size 13px
			letter-spacing 0px
			background-color #F90
	&.addthis
		a
			position relative
			border-color #0c5f0c
			text-align center
			text-indent -9000px
			font-size 32px
			font-weight bold
			color #fff
			background #138210
			-moz-box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
			-webkit-box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
			box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
			background -webkit-gradient(linear, left top, left bottom, from(#68db21), to(#138210))
			background -moz-linear-gradient(top, #68db21, #138210)
			&:after
				content "+"
				position absolute
				left 0
				top 0
				width 32px
				text-indent 0
				text-align center
				font-size 32px
				color #fff

.social.rss a:hover, .social.rss a:focus, .social.rss a:active
	border-radius 0
	border-bottom-width 2px
	color #08c

.social.weibo a,
.social.facebook a
	position relative
	border-color #3c5a98
	text-transform lowercase
	font-family Arial, Helvetica, sans-serif
	text-indent 17px
	letter-spacing 10px
	font-weight bold
	font-size 32px
	line-height 32px
	color #fff
	background #3c5a98
	-moz-box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
	-webkit-box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
	box-shadow 0 0 4px rgba(0, 0, 0, 0.4)
.social.weibo a
	text-align center
	text-indent 0
	font-size 13px
	letter-spacing 0px
	background-color #F90
.social a:hover, .social a:focus, .social a:active
	border-color #08c

