.table
  width 100%
  caption
    text-align left
    padding 0.5em
    margin-bottom 15px
  .td
    padding .4em
    line-height 1.4em
    border-bottom 1px solid #ddd
    text-align left
  thead
    .td
      border-bottom 2px solid #999