.bold
  font-weight bold

.em
  font-style italic

.alignleft
  text-align left

.alignright
  text-align right

.aligncenter
  text-align center

.indent
  text-indent 2em
.word-break
	word-break break-all
.elli
	overflow hidden
	white-space nowrap
	text-overflow ellipsis
	
