@require 'parts/normalize'


//common elements
html
	width 100%
body
	font-size 14px
	color #244
	background #fff
	line-height 1.6
	position relative
	font-family Arial
a
	text-decoration none
	color #05c
	&:hover
		color #333
i
	font-style normal		
.pd-sec
	padding 0 5px
.centered
	width 100%
	max-width 930px
	margin 0 auto
	position relative
img
	margin 0
	border none
	
//wrapper
#wrapper
	position relative
	z-index 2
h1
	margin 0 0 20px 0
#pics
	.img-wrap
		display inline-block
		background #fff
		box-shaodw 0 0 10px rgba(0,0,0,.4)
		margin-bottom 4px
		vertical-align top
		img
			width 100%
.col
	float left
.one-col
	width 100%
.two-col
	width 49.5%
.three-col
	width 33.3%
.pd-img
	padding 5px
@require 'parts/btns'
@require 'parts/tag'
@require 'parts/grid'
@require 'parts/list'
@require 'parts/table'
@require 'parts/form'
@require 'parts/box'
@require 'parts/font-pix'
@require 'parts/color'
@require 'parts/bg-color'
@require 'parts/text'